name: Build W10 Play APK

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout do código
        uses: actions/checkout@v4

      - name: Configurar Java 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      - name: Conceder permissão ao Gradle
        run: chmod +x ./gradlew

      - name: Build APK Debug
        run: ./gradlew :app:assembleDebug

      - name: Upload do APK
        uses: actions/upload-artifact@v4
        with:
          name: W10-Play-APK
          path: app/build/outputs/apk/debug/app-debug.apk
