name: Build W10 Play APK

on:
  push:
    branches: [ main, principal ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Configurar Java 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      - name: Instalar Gradle
        uses: gradle/gradle-build-action@v3

      - name: Build APK Debug
        run: gradle app:assembleDebug

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: W10-Play-APK
          path: app/build/outputs/apk/debug/*.apk
